* {
    box-sizing: border-box;
}

:root {
    --clr-light: white;
    --clr-dark: black;
    --clr-accent: yellow;

    --ff-funny: 'Hanalei', cursive;

    --fs-small: 1.2em;
    --fs-medium: 1.8em;
    --fs-large: 4.5em;

    --fw-small: 300;
    --fw-large: 800;

    --bs: 1em 1em 1.5em rgba(161, 179, 180, 1);
}

html {
    scroll-behavior: smooth;
}

@media(max-width:800px) {
    :root {
        --fs-small: 1em;
        --fs-medium: 2em;
        --fs-large: 3.5em;
    }
}

body {
    margin: 0;
}


/* Headear */
nav {
    background-color: var(--clr-accent);
}

ul {
    text-align: center;
    text-transform: uppercase;
    padding: 0.8em;
    font-size: var(--fs-small);
}

li {
    display: inline;
    padding: 1.2em;
}

@media(max-width: 900px) {
    li {
        display: block;
        height: 0.01em;
    }
}

a {
    text-decoration: none;
}

/* these are demo colors to ensure code works as intended */
a:link{
    color:orange;
}

a:visited {
    color: green;
}

a:hover {
    color: gold;
}

a:active {
    color: black;
}
/* INTRODUCTION */

img {
    box-shadow: var(--bs);
}

@media(min-width: 900px) {
    .img--one--para--one {
        width: 80%;
    }

    .img--two--para--two {
        width: 80%;
    }
}
.img--one--para--one {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* padding-left: 3em; */
    margin: 0px auto;
}
.img--left--flex {
    flex: 30%;
    /* margin-left: 2em; */

}
.para--right--flex {
    flex: 70%;

}
.img--two--para--two {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* padding-left: 3em; */
    margin: 0px auto;
}

.para--left--flex {
    flex: 70%;
}

.img--right--flex {
    flex: 30%;
    /* align-content: space-between; */
}

/* WHAT--I--DO */

.what--i--do--header {
    font-family: var(--ff-funny);
    font-size: 2em;
}

.what--i--do {
    background-image: url("images/laptop.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding: 4em;
    margin-top: 2em;
}

.btn {
    display: inline-block;
    border-radius: 2px;
    padding: .5em 3.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    margin-top: 2em;
}

.btn:hover {
    transform: scale(1.1);
}

.intrest--header {
    text-align:center;
    margin-top: 2em;
}
.intrest {
    display: flex;
    margin-bottom: 5em;
}

.read {
    flex: 33.3%;
    text-align: center;
}

.code {
    flex: 33.3%;
    text-align: center;
}

.music {
    flex: 33.3%;
    text-align: center;
}

@media(max-width:900px) {
    .intrest {
        display:block;
    }
}


/* FOOTER */
footer {
    text-align: center;
    background-color: var(--clr-accent);
    height: 18em;
    padding: 4em;

}

.footer--list {
    display: block;
}
