* {
    box-sizing: border-box;
}

/* Custom variables */
:root {
    --clr-light: white;
    --clr-dark: black;
    --clr-accent: yellow;

    --ff-headers:
    --ff-paragraphs:

    --fs-small: 1.2em;
    --fs-medium: 1.8em;
    --fs-large: 4.5em;

    --fw-small: 300;
    --fw-large: 800;

    --bs-img--one: 1em 1em 1.5em rgba(161, 179, 180, 1);
    --bs-img--two: -1em 1em 1.5em rgba(161, 179, 180, 1);
}

/* Font sizes for smaller screens */
@media(max-width:800px) {
    :root {
        --fs-small: 1em;
        --fs-medium: 2em;
        --fs-large: 3.5em;
    }
}

html {
    scroll-behavior: auto;
}

body {
    max-width: 100%;
    margin: 0;
    font-size: 100%;
}

nav {
    background-color: var(--clr-accent);
}

h2 {
    font-family: var(--ff-headers)
}

p {
    line-height: 2em;
    font-size: 1.1em;
}

/* Positioning navigation menu for header */
.navigation--bar {
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: center;
}

.flex-ai-c {
    align-items: center;
}


/* Styling hamburger button */
.mobile--view >span {
    display: block;
    width: 26px;
    height: 2px;
    z-index: 99999999;
    background-color: #2d314d;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform-origin: 3px 1px;
            transform-origin: 3px 1px;
}
  
.mobile--view > span:not(:last-child) {
    margin-bottom: 5px;
}

.mobile--view {
    padding-top: 20px;
    padding-left: 20px;
}


/* Adding animationto hamburger button */
.mobile--view.open > span:nth-child(2){
    transform: translateX(-100%);
    opacity: 0;
}  
 
.mobile--view.open > span:nth-child(1){
    transform: rotateZ(45deg);
}
 
.mobile--view.open > span:nth-child(3){
    transform: rotateZ(-45deg);
}

/* Resolution for mobile view */
@media (max-width: 63.937em) { 
    .desktop--view {
      display: none;
    }

    nav {
        background-color: white;
    }

    .flex-jc-sb {
        justify-content: space-between;
    }
}

/* Resolution for destop view */
@media (min-width: 64em) {
    .mobile--view {
      display: none;
    }
}



/* Positioning slider when hamburger button is clicked */
.slider {
    /* position: fixed; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* top: 0; */
    /* left: 100%; */
    background: #ffe8ec;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
 
.header .slider > ul{
    list-style-type: none;
    padding: 10px;
    text-align: center;
}
 
.header .slider > ul > li {
    padding: 10px 0;
}
 
.header .slider > ul > li > a{
    text-decoration: none;
    font-size: 1.4em;
    color: #292627;
}





ul {
    text-transform: uppercase;
    padding: 0.8em;
    font-size: var(--fs-small);
}

li {
    display: inline;
    padding: 1.2em;
}


a {
    text-decoration: none;
}

/* these are demo colors to ensure code works as intended */
a:link{
    color:orange; 
}

a:visited {
    color: green;
}

a:hover {
    color: gold;
}

a:active {
    color: black;
}

/* INTRODUCTION */
/* Introduction view layout on desktop */
.img--one--para--one {
    display: flex;
    margin-top: 2em;
    /* flex-wrap: wrap; */
    /* padding-left: 3em; */
}

.img--left--flex {
    flex: 35%;
    margin-left: 1.5em;
    box-shadow: var(--bs-img--one);
    /* margin-left: 2em; */
}


.para--right--flex {
    display: block;
    flex: 65%;
    margin-left: 2em;
    text-align: center;
}

.img--two--para--two {
    display: flex;
    margin-top: 2.5em;
    /* margin-left: 50em; */
    /* flex-wrap: wrap; */
    /* padding-left: 3em; */
}

.para--left--flex {
    margin-left: 2em;
    flex: 65%;
    text-align: center;
}

.img--right--flex {
    flex: 35%;
    margin-right: 2em;
    box-shadow: var(--bs-img--two);
    /* align-content: space-between; */
}

/* introduction layout on mobile view */
@media(max-width: 600px) {
    .img--one--para--one {
        display: block;
    }

    .img--two--para--two {
        display: block;
    }

    .img--right--flex {
        margin-left: 1.3em;
    }

    img {
        width: 90%;
        margin: 0;
    }
}

/* WHAT--I--DO */
.what--i--do {
    background-image: url("images/laptop.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
}

.btn {
    display: inline-block;
    border-radius: 2px;
    padding: .5em 3.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    margin-top: 2em;
}

.btn:hover {
    transform: scale(1.1);
}

.intrest--header {
    text-align:center;
    margin-top: 2em;
}

.intrest {
    display: flex;
    margin-bottom: 5em;
}

.read {
    flex: 33.3%;
    /* justify-self: right; */
    text-align: center;
}

.code {
    flex: 33.3%;
    /* justify-content: center; */
    text-align: center;
}

.music {
    flex: 33.3%;
    /* justify-content: center; */
    text-align: center;
}

.intrest--content {
    margin-left: 2em;
    margin-right: 2em;
}

@media(max-width:900px) {
    .intrest {
        display:block;
    }
}

/* FOOTER */
footer {
    text-align: center;
    background-color: var(--clr-accent);
    /* height: 18em; */
    padding: 2em;
}

.footer--list {
    /* display: block; */
}
